.payment-container {
    color: aliceblue;
    text-align: center;
 margin-top: 10%;
    margin-bottom: 28%;
}
.dash-nav{
    margin-top: 10%;
    margin-bottom: 30%;
}
.dash-container{
    background-color: rgb(23, 26, 25);
}