.payment-container {
    color: aliceblue;
    text-align: center;
 margin-top: 10%;
    margin-bottom: 28%;
}
.dash-nav{
    margin-top: 10%;
    margin-bottom: 30%;
}
.dash-container{
    background-color: rgb(23, 26, 25);
}
.iconsS{
    color: rgb(226, 132, 25);
    justify-content: center;
    margin:auto;
    padding: 5px;
    border-radius: 5px;
    font-size: 30px;
}