
.p-text{
    font-weight: 100;
}
.navbar-style{
    background-color: rgba(1, 10, 15, 0.977);
    font-family:cursive;
     font-weight: 600;
    padding: 3px;


}
.navs{
    color: rgb(245, 162, 38);

}
.navs-h{
font-family:cursive;
color: #e7e5e2;
}

.nav-link{
       color: rgb(245, 162, 38);
    border: none;
    outline: none;
    position: relative;
    
}  
.nav-linkL{
    color: #fdb230;
    border: none;
    outline: none;
} 
.nav-linkL:hover{
    color: #fcdef4;;

}
.nav-link:hover{
    color: #fcdef4;;
} 

.navA:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #faaf25;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navA:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
