.home-bg{
    background-color: rgb(24, 23, 23);
  }
  .baa{
    background-color: rgb(24, 23, 23);

  }
  .banner_section {
     border-bottom: 1px solid #ebebeb;
     margin-bottom: 40px;    
   }
   .banner-f {
     border-bottom: 2px solid #a8741a;
   }
   
   .banner-f .banner-inside {
     transition: 0.5s;
     bottom: 110px;
     top: inherit;
   }
   .banner-f .banner-inside h4 {
     color: #a8741a;
     font-weight: 800;
     font-family: cursive;
   }
   .banner-f .banner-inside h3{
     color: rgb(133, 31, 82);
   }
   
   .banner-f .bannerBody:hover .banner-inside {
     transform: scale(1.1);
 
   }
   .bannerBody {
     position: relative;
     overflow: hidden;
     height: 100%; 
     background-color: rgb(24, 23, 23);

   }
   .bannerBody::before {
     position: absolute;
     content: "";
      top: 0;
     left: 0;
     transition: 0.6s;
   } 
   .bannerBodyImg{
    transition: 0.4s;
    opacity: 0.8;
     width: 75%;
     border-radius: 10px;
   }
   .bannerBody:hover .bannerBodyImg{
    opacity: 0.5;
   }   
   .bannerBody:hover img {
     transform: scale(1.1);
   }
   .banner-f .bannerBody:hover .banner-inside {
     transform: scale(1.1);
   }
   .banner-inside {
     position: relative;
     top: 25px;
     left:13%;
     width: 73%;
   }
   .banner-insideH3{
     border-radius: 10px 30px;
     background-color: rgba(245, 245, 245, 0.733);
   }
  .bannerPart{
    height: 620%;
    background-color: rgb(24, 23, 23);
  }
  .colorText{
   color: rgb(236, 186, 58);
 }
 .text{
   color: rgb(166, 247, 247);
 }
 /* banner */
 
 
 .bannerAdd {
   height: 510px;
 }
 @media (max-width: 480px) {
  .bannerAdd{
    height: 280px;

  }
}
  

 .addText{
   text-align: center;
   font-size: 16px;
   margin: 0;
   font-family:cursive;

 }
 /* clients */
 .carousel-inner{
   width: 60%;
   height: 30%;
   align-items: center;
   justify-content: center;
   margin-left: 10%;
 }
 .slides{
   margin-left: 25%;
 }