.service-style{
    font-weight: 900;
    padding: 25px;
    margin: 5px;
    margin-bottom: 0;
    border: 2px solid #a8741a;;
    background-color: rgba(8, 1, 8, 0.952);
}
.heading{
    color:#da9a2d;
    font-family:'Times New Roman', Times, serif;
    font-weight: 900;
}
.collection-img{
    width: 50%;
    height: 50%;
    border-radius: 10px;
}
.services{
    overflow: hidden;
height: 100%;
}
.infos{
    text-align: center;
}
.infos-Text{
    color:#da9a2d;

}
.btn-all{
margin-bottom: 2%;
    background-color: #da9a2d;
    color: aliceblue;
}
.btn-allP{
    margin-left: 3%;
    margin-bottom: 5%;
    background-color: #da9a2d;
    color: rgb(4, 35, 61);
}

/* Orders page  texts style */
.order-text{
    font-size: small;
}
.icon-color{
    color: gold;
}
.emptyIcon{
color: rgb(170, 170, 170);

}